In [1]:
from src.dataloaders.sources.synth_labor import SyntheticLaborSource

In [2]:
## How to create a SOURCE!
r = SyntheticLaborSource().prepare()

In [3]:
r.compute()

        RECORD_DATE        INCOME     CITY OCCUPATION INDUSTRY
USER_ID
1        2020-05-02  34783.866673   CITY_6     OCC_29   IND_32
1        2020-09-28  20583.953807  CITY_18     OCC_91   IND_20
1        2020-10-11  12406.997744  CITY_21     OCC_29   IND_18
1        2020-10-19  24204.024495  CITY_17     OCC_93   IND_15
1        2020-11-22  13128.289049   CITY_3     OCC_48   IND_17
...             ...           ...      ...        ...      ...
100      2026-08-20  17704.942513  CITY_14     OCC_35    IND_0
100      2026-11-01   9169.104040   CITY_5     OCC_49   IND_23
100      2028-03-09  20850.455378  CITY_23     OCC_31   IND_15
100      2028-07-11  26522.435550   CITY_7     OCC_37   IND_38
100      2029-07-20  16270.042113  CITY_14     OCC_53   IND_10

[1602 rows x 5 columns]